<div class="row">
  <div class="col-10 col-xs-12 col-md-offset-4 col-md-8">
    <div
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
      *ngIf="error"
    >
      <svg
        class="bi flex-shrink-0 me-2"
        width="24"
        height="24"
        role="img"
        aria-label="Danger:"
      >
        <use xlink:href="#exclamation-triangle-fill" />
      </svg>

      {{ error }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="mb-3 row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="email"
            placeholder="email@example.com"
            ngModel
            name="email"
            email
            required
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control"
            ngModel
            name="password"
            required
            minlength="6"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="col-sm-2 col-form-label"></label>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
        |
        <button
          type="button"
          class="btn btn-secondary"
          (click)="onSwitchMode()"
        >
          Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
        </button>
      </div>
      <div class="mb-3"></div>
    </form>
  </div>
</div>
