<div class="" *ngIf="recipe; else noRecipe ">

  <div class="row mt-5 pt-1">
    <div class="col-xs-12">
      <img src="{{recipe.imagePath}}" alt="Recipe image" class="img-fluid width-200">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-success">{{recipe.name}} </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="true">
          Manage Recipe
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
          <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{recipe.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Ingredients</h4>

    </div>

    <!-- <div> Recipe: {{ recipe | json }}</div> -->
  </div>
</div>

<ng-template #noRecipe>
  <div class="mt-5 pt-1">
    <p> Please select a recipe.</p>
  </div>


</ng-template>
